<ion-header>
  <ion-toolbar>
    <ion-title>Storage Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Key</ion-label>
    <ion-input [(ngModel)]="key"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Value</ion-label>
    <ion-input [(ngModel)]="value"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="setItem()">Set Item</ion-button>
  <ion-button expand="full" (click)="getItem()">Get Item</ion-button>
  <ion-button expand="full" (click)="removeItem()">Remove Item</ion-button>
  <ion-button expand="full" (click)="clearStorage()">Clear Storage</ion-button>
  <ion-button expand="full" (click)="getKeys()">Get Keys</ion-button>
  <ion-button expand="full" (click)="getLength()">Get Length</ion-button>
  <ion-button expand="full" (click)="enumerateItems()">Enumerate Items</ion-button>
  <ion-textarea readonly>{{ output }}</ion-textarea>
</ion-content>
